<a href="https://colab.research.google.com/github/p-garden/baekjoon/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1541번 잃어버린 괄호**

In [10]:
exp = input()
min_exp = exp.split('-')
sum_ = 0 
n_list = []
for n in min_exp:
  num = n.split('+')
  num = list(map(int,num))
  sum_ = sum(num)
  n_list.append(sum_)
res = n_list[0]
for n in n_list[1:]:
  res -= n
print(res)

00009-00009
0

# **1026번 보물**

In [14]:
n = int(input())
a = input().split()
b = input().split()
a = list(map(int,a))
b = list(map(int,b))
a.sort()
b.sort(reverse = True)
res = 0
for i in range(n):
  res += a[i] * b[i]
print(res)

9
5 15 100 31 39 0 0 3 26
11 12 13 2 3 4 5 9 1
528

# **1789번 수들의 합**

In [17]:
s = int(input())
sum = 0
n =0 
for i in range(1,4294967295):
  sum += i
  n += 1
  if(sum < s):
    continue
  elif(sum == s):
    break
  else:
    sum -= (i-1)
    n -= 1
    if sum == s: 
      break
    else:
      sum -= i
      n -=1
print(n)

50
9