<a href="https://colab.research.google.com/github/p-garden/baekjoon/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1541번 잃어버린 괄호**

In [ ]:
exp = input()
min_exp = exp.split('-')
sum_ = 0 
n_list = []
for n in min_exp:
  num = n.split('+')
  num = list(map(int,num))
  sum_ = sum(num)
  n_list.append(sum_)
res = n_list[0]
for n in n_list[1:]:
  res -= n
print(res)

00009-00009
0

# **1026번 보물**

In [ ]:
n = int(input())
a = input().split()
b = input().split()
a = list(map(int,a))
b = list(map(int,b))
a.sort()
b.sort(reverse = True)
res = 0
for i in range(n):
  res += a[i] * b[i]
print(res)

9
5 15 100 31 39 0 0 3 26
11 12 13 2 3 4 5 9 1
528

# **1789번 수들의 합**

In [ ]:
s = int(input())
sum = 0
n =0 
for i in range(1,4294967295):
  sum += i
  n += 1
  if(sum < s):
    continue
  elif(sum == s):
    break
  else:
    sum -= (i-1)
    n -= 1
    if sum == s: 
      break
    else:
      sum -= i
      n -=1
print(n)

50
9

# **10162번 전자레인지**

In [ ]:
target_time = int(input())
a = 300
b = 60 
c=10
a_t=0
b_t=0
c_t=0
while(target_time>0):
  if(target_time % 10 != 0):
    break
  if(target_time >= a):
    while(target_time >= a):
      target_time -= a
      a_t += 1
  elif (target_time >= b):
    while(target_time >= b):
      target_time -= b
      b_t += 1
  else:
    while(target_time >= c):
      target_time -= c
      c_t += 1
if (a_t ==0 and b_t ==0 and c_t ==0):
  print('-1')
else:
  print('%d %d %d' % (a_t,b_t,c_t))

320
1 0 2

# **13305번 주유소**

In [ ]:
n = int(input())
len_con = input().split()
price_oil = input().split()

len_con = list(map(int, len_con))
price_oil = list(map(int, price_oil))

c = price_oil[0]
res =0

for i in range(n-1):
  if (c > price_oil[i]):
    c = price_oil[i]
  res += c * len_con[i]
print(res)

4
3 3 4
1 1 1 1
10

# **10610번 30**

In [ ]:
n = input()
sum_ = sum(list(map(int,n)))
rst = 0 
if (('0' not in n) or(sum_ % 3 != 0)):
  rst=-1
else:
  n=list(n)
  n.sort(reverse = True)
  rst= int("".join(n))
print(rst)

-1

# **1715번 카드 정렬하기**

In [ ]:
import numpy as np
n = int(input())
card_list = [input() for _ in range(n)]
card_list = list(map(int, card_list))
card_list.sort()
sum_card=[]
sum_card.append(card_list[0])
for i in range(1,n):
  sum_card.append(sum_card[i-1] + card_list[i])
print(np.sum(sum_card) - card_list[0])

# 틀린 답

5
10
10
10
10
10
140

# **1463번 1로 만들기**

In [ ]:
import time
from datetime import timedelta
start = time.process_time()
x = int(input())
pro=[]
pre_pro = []
pre_pro.append(x)
trial=0
while(1):
  for j in range(len(pre_pro)):
    cur = pre_pro[j]
    if (cur % 3 ==0):
      pro.append(cur // 3)
      if(1 in pro):
        break
    if (cur % 2 ==0):
      pro.append(cur // 2)
      if(1 in pro):
        break
    pro.append(cur -1)
  trial += 1
  if(1 in pro):
    break
  pre_pro = pro
  pro = []
end = time.process_time()
print(end - start)
print(trial)
# 틀린 방법

892381
5.467321396000017
18

In [ ]:
n = int(input())
count = [0] * 1000001
count[2]=1
count[3] = 1

for i in  range(2,n+1):
  a = 1000000
  if (i % 3 ==0):
    a = count[i//3] +1
  b = 1000000
  if (i % 2==0):
    b = count[i//2] +1
  c = count[i-1] +1
  count[i] = min(a,b,c)

print(count[n])
# 맞는 방법 (리스트에 각 숫자의 최소도달값 저장) (새로운 값 구할 때 이전의 값 이용)

11
4

# **2839번 설탕 배달**

In [8]:
n = int(input())
prt=0
while (n):
  if n <3:
    print('-1')
    break
  if n % 5 == 0:
    prt += n // 5
    n -= ((n//5)*5)
    break
  n -= 3
  prt += 1
if(n==0):
  print(prt)

11
3