<a href="https://colab.research.google.com/github/p-garden/baekjoon/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1541번 잃어버린 괄호**

In [ ]:
exp = input()
min_exp = exp.split('-')
sum_ = 0 
n_list = []
for n in min_exp:
  num = n.split('+')
  num = list(map(int,num))
  sum_ = sum(num)
  n_list.append(sum_)
res = n_list[0]
for n in n_list[1:]:
  res -= n
print(res)

00009-00009
0

# **1026번 보물**

In [ ]:
n = int(input())
a = input().split()
b = input().split()
a = list(map(int,a))
b = list(map(int,b))
a.sort()
b.sort(reverse = True)
res = 0
for i in range(n):
  res += a[i] * b[i]
print(res)

9
5 15 100 31 39 0 0 3 26
11 12 13 2 3 4 5 9 1
528

# **1789번 수들의 합**

In [ ]:
s = int(input())
sum = 0
n =0 
for i in range(1,4294967295):
  sum += i
  n += 1
  if(sum < s):
    continue
  elif(sum == s):
    break
  else:
    sum -= (i-1)
    n -= 1
    if sum == s: 
      break
    else:
      sum -= i
      n -=1
print(n)

50
9

# **10162번 전자레인지**

In [ ]:
target_time = int(input())
a = 300
b = 60 
c=10
a_t=0
b_t=0
c_t=0
while(target_time>0):
  if(target_time % 10 != 0):
    break
  if(target_time >= a):
    while(target_time >= a):
      target_time -= a
      a_t += 1
  elif (target_time >= b):
    while(target_time >= b):
      target_time -= b
      b_t += 1
  else:
    while(target_time >= c):
      target_time -= c
      c_t += 1
if (a_t ==0 and b_t ==0 and c_t ==0):
  print('-1')
else:
  print('%d %d %d' % (a_t,b_t,c_t))

320
1 0 2

# **13305번 주유소**

In [ ]:
n = int(input())
len_con = input().split()
price_oil = input().split()

len_con = list(map(int, len_con))
price_oil = list(map(int, price_oil))

c = price_oil[0]
res =0

for i in range(n-1):
  if (c > price_oil[i]):
    c = price_oil[i]
  res += c * len_con[i]
print(res)

4
3 3 4
1 1 1 1
10

# **10610번 30**

In [ ]:
n = input()
sum_ = sum(list(map(int,n)))
rst = 0 
if (('0' not in n) or(sum_ % 3 != 0)):
  rst=-1
else:
  n=list(n)
  n.sort(reverse = True)
  rst= int("".join(n))
print(rst)

-1

# **1715번 카드 정렬하기**

In [ ]:
import numpy as np
n = int(input())
card_list = [input() for _ in range(n)]
card_list = list(map(int, card_list))
card_list.sort()
sum_card=[]
sum_card.append(card_list[0])
for i in range(1,n):
  sum_card.append(sum_card[i-1] + card_list[i])
print(np.sum(sum_card) - card_list[0])

# 틀린 답

5
10
10
10
10
10
140

# **1463번 1로 만들기**

In [ ]:
import time
from datetime import timedelta
start = time.process_time()
x = int(input())
pro=[]
pre_pro = []
pre_pro.append(x)
trial=0
while(1):
  for j in range(len(pre_pro)):
    cur = pre_pro[j]
    if (cur % 3 ==0):
      pro.append(cur // 3)
      if(1 in pro):
        break
    if (cur % 2 ==0):
      pro.append(cur // 2)
      if(1 in pro):
        break
    pro.append(cur -1)
  trial += 1
  if(1 in pro):
    break
  pre_pro = pro
  pro = []
end = time.process_time()
print(end - start)
print(trial)
# 틀린 방법

892381
5.467321396000017
18

In [ ]:
n = int(input())
count = [0] * 1000001
count[2]=1
count[3] = 1

for i in  range(2,n+1):
  a = 1000000
  if (i % 3 ==0):
    a = count[i//3] +1
  b = 1000000
  if (i % 2==0):
    b = count[i//2] +1
  c = count[i-1] +1
  count[i] = min(a,b,c)

print(count[n])
# 맞는 방법 (리스트에 각 숫자의 최소도달값 저장) (새로운 값 구할 때 이전의 값 이용)

11
4

# **2839번 설탕 배달**

In [ ]:
n = int(input())
prt=0
while (n):
  if n <3:
    print('-1')
    break
  if n % 5 == 0:
    prt += n // 5
    n -= ((n//5)*5)
    break
  n -= 3
  prt += 1
if(n==0):
  print(prt)

11
3

# **9095번: 1,2,3 더하기**

In [ ]:
n = int(input())
num_list=[]
cnt = [0] * 10

for _ in range(n):
  num = int(input())
  num_list.append(num)
cnt[0] = 1
cnt[1] = 2
cnt[2] = 4
for i in range(3,10):
  cnt[i] = cnt[i-1] + cnt[i-2] + cnt[i-3]

for i in range(n):
  print(cnt[num_list[i]-1])

3
4
7
10
7
44
274

# **11726번: 2xn 타일링**

In [ ]:
n =int(input())
tile = [0]*1001
tile[1] =1
tile[2] = 2
for i in range(3,1001):
  tile[i] = tile[i-1] + tile[i-2]

print(tile[n] % 10007)

6
13

# **1149번: RGB거리** 포기

In [ ]:
import numpy as np
n = int(input())
rgb = []
ind_list=[]
cost = 0
for i in  range(n):
  list_ = list(map(int, input().split()))
  rgb.append(list_)
rgb = np.array(rgb)
min_ind = 3
for i in range(n):
  if (min_ind != np.argmin(rgb[i])):
    min_ind = np.argmin(rgb[i])
    cost += rgb[i][min_ind]
  else:
    pre = rgb[i][np.argmin(rgb[i])]
    rgb[i][np.argmin(rgb[i])] = 1000
    if (pre+ )
    min_ind = np.argmin(rgb[i]) 
    cost += rgb[i][min_ind]
  ind_list.append(min_ind)
  print(cost)

print(cost)

3
1 100 100
100 100 100
1 100 100
1
101
102
102

# **2579번: 계단 오르기**

In [ ]:
n = int(input())
sco = [int(input()) for _ in range(n)]
stair = [0] *n
if n <=2:
  print(sum(sco))
else:
  stair[0] = sco[0]
  stair[1] = sco[0] + sco[1]
  for i in range(2,n):
    stair[i]=max(stair[i-3] + sco[i-1]+sco[i], stair[i-2]+sco[i])
  print(stair[-1])

3
10
20
30
50

# **11053: 가장 긴 증가하는 부분 수열**

In [ ]:
n = int(input())
seq = input().split()
seq = list(map(int,seq))
len_seq = [1]*n

for i in range(1,n):
  for j in range(i):
    if (seq[i] > seq[j]):
      len_seq[i] = max(len_seq[j] +1,len_seq[i])

print(max(len_seq))

6
10 20 10 30 20 50
4

# **1010: 다리 놓기**

In [ ]:
import math
n = int(input())
bri =[]
for i in range(n):
  a,b = input().split()
  a = int(a)
  b=int(b)
  pre = math.factorial(b) // (math.factorial(a) * math.factorial(b-a))
  bri.append(pre)

for i in range(len(bri)):
  print(bri[i])

3
2 2
1 5
13 29
1
5
67863915

# **2193: 이친수**

In [ ]:
n = int(input())
bin = [0]*90
bin[0] =1
bin[1] =1
for i in range(2,90):
  bin[i] = bin[i-1] + bin[i-2]

print(bin[n-1])

3
2

# **14501: 퇴사**

In [5]:
n =int(input())
money=[]
day=[]
for i in range(n):
  d,m = input().split()
  day.append(int(d))
  money.append(int(m))

max_pro=[0]*16

for i in range(n-1,-1,-1):
  if day[i]+i > n:
    max_pro[i] = max_pro[i+1]
  else:
    max_pro[i] = max(max_pro[i+1], money[i]+ max_pro[i+day[i]])

print(max_pro[0])

7
3 10
5 20
1 10
1 20
2 15
4 40
2 200
45